@model OcenSzamke.Models.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<div class="edit-container">
    <div class="form-container">
        <form asp-action="Edit">
            <h2 class="text-custom">Edytuj restaurację</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="Nazwa restauracji" />
                <label asp-for="Name">Nazwa</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Address" class="form-control" placeholder="Adres restauracji" />
                <label asp-for="Address">Adres</label>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <!-- Dodane pola atrapy -->
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Numer telefonu" />
                <label>Numer telefonu</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Typ kuchni" />
                <label>Typ kuchni</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Godziny otwarcia" />
                <label>Godziny otwarcia</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="Strona internetowa" />
                <label>Strona internetowa</label>
            </div>
            <!-- Koniec dodanych pól atrap -->
            <button type="submit" class="btn btn-custom w-100">Zapisz</button>
        </form>
        @Html.ActionLink("Anuluj", "Index", null, new { @class = "btn btn-link-custom mt-3" })
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
