@{
    ViewData["Title"] = "Strona Główna";
}

<div class="centered-section">
    <div>
        <img src="~/img/logo.png" alt="Logo" class="logo" />
        <h1 class="display-4">Oceń Szamkę!</h1>
        <p class="descriptionofmainpage">Odkrywaj najlepsze restauracje i dziel się swoimi opiniami.</p>
        <div class="btn-group-vertical">
            <a asp-action="Index" asp-controller="Restaurants" class="btn btn-custom btn-lg btn-block">Przeglądaj lokale gastronomiczne</a>
            @if (User?.Identity?.IsAuthenticated != true)
            {
                <div class="btn-group-horizontal">
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-custom btn-block">Zaloguj się</a>
                    <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-custom btn-block">Zarejestruj się</a>
                </div>
            }
            else
            {
                <form method="post" asp-area="Identity" asp-page="/Account/Logout" asp-handler="Logout" asp-route-returnUrl="/">
                    <button type="submit" class="btn btn-custom btn-lg btn-block">Wyloguj się</button>
                </form>
            }
        </div>
    </div>
</div>
