@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-container">
    <div class="privacy-content">
        <p class="privacy-text">
            Ta strona została przygotowana przez Bartosza i Szymona z uniwersytetu WSB Merito w Poznaniu.
        </p>
        <div class="privacy-image-container">
            <img src="/img/honest.png" alt="Honest Work Image" class="privacy-image" />
        </div>
    </div>
</div>
