@page
@model LoginModel
@{
    ViewData["Title"] = "Logowanie";
}

<div class="login-container">
    <div class="login-form">
        <form id="loginForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Zaloguj się!</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="bartosz@przykladny.pl" />
                <label asp-for="Input.Email">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Hasło</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <input asp-for="Input.RememberMe" class="form-check-input" />
                <label asp-for="Input.RememberMe" class="form-check-label">Zapamiętaj mnie</label>
            </div>
            <button id="loginSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Logowanie</button>
        </form>
        <div class="register-info">
            <p>Nie masz konta? <a asp-area="Identity" asp-page="/Account/Register">Zarejestruj się!</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
